.authortweetswrap {
	background: transparent;
	margin: 20px 0px 0px 0px;
	padding: 10px;
	border: 0px;
        font-size:11px;
	}		
.authortweetswrap p {
	margin:0 0 6px 0;
	padding: 0px;
        color:#9b9b9b;
	}	
.authortweetswrap img {
	background: transparent;
	float: right;
	margin: 0px 10px 0px 0px;
	padding: 8px;
	border: 0px solid #CCCCCC;
	}
.authortweetswrap img .twittericon {
	background: transparent;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 3px;
	border: 0px solid #CCCCCC;
	}
.atbghrt {
        width:100%;
        height:1px;
        margin:10px 0 0 0;
        background:#eaeaea;
        }
.atbghrb {
        width:100%;
        height:1px;
        margin:0 0 10px 0;
        background:#d9d9d9;
        }
.atbghrt2 {
        width:100%;
        height:1px;
        margin:10px 0 10px 0;
        background:transparent;
        border-top:1px dotted #9b9b9b;
        }
.msg {
            margin-top:6px;
        }